<form class="form" action='@Url.Action("IniciarSesion", "Account")' method="post" class="formulario">
  <span class="input-span">
    <label for="UserName" class="label">UserName</label>
    <input type="text" name="UserName" id="UserName" required>
  </span>
  <span class="input-span">
    <label for="Contraseña" class="label">Contraseña</label>
    <input type="password" name="Contraseña" id="Contraseña" required>
  </span>
  @if (ViewBag.Error != null)
  {
    <p class="error">@ViewBag.Error</p>
  }
  <input class="submit" type="submit" value="Log in">

 <span class="span"><a href='@Url.Action("OlvideMiContraseña", "Account")'>Olvidaste tu Contraseña?</a></span>
  
 

  <span class="span">No tienes cuenta? <a href='@Url.Action("Registrarte", "Account")'>Crear cuenta</a></span>
</form>


