@{
    ViewData["Title"] = "Home Page";
}
<div class="tod0">
<div class="class-title">
<h1 class="titleew">Bienvenidos</h1>
</div>


<div class="div-img">
<img src="./img/gif.gif">
</div>
<div class="divs-center">
<button class="button" >
   <a class="a-index" href='@Url.Action("Login", "Account")'>Login
</button>

<button class="button">
     <a class="a-index" href='@Url.Action("Registrarte", "Account")'>Registrarme
</button>


</div>
</div>