
    
        
 
    


<form class="formm">
    <p class="titlee">Register </p>
    <p class="messagee">Signup now and get full access to our app. </p>
        <div class="flexx">
        <label>
            <input class="inputt" type="text" name="UserName"  required>
            <span>UserName</span>
        </label>

        <label>
            <input class="inputt" type="text" name="Nombre" required>
            <span>Nombre</span>
        </label>
    </div>  
            
     <label>
        <input class="inputt" type="text" name="Email"  required> 
        <span>Email</span>
    </label>
        
    <label>
        <input class="inputt" type="int" name="Telefono"  required> 
        <span>Telefono</span>
    </label> 
    <label>
        <input class="inputt" type="password" name="Contraseña"  required>
        <span>Contraseña</span>
    </label>
    <button class="submitt" href='@Url.Action("GuardarUsuario")'>Registrarme</button>
    <p class="signinn">Ya tenes una cuenta ? <a href='@Url.Action("Index")'>Entrar</a> </p>
</form>