html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.inc1{
  color: red;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.error{
  color: red;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.inc2{
  color: red;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form {
  background-color: rgb(0 0 0);
  padding: 1rem;
  border-radius: 20px;

  --bg-light: #efefef;
  --bg-dark: #707070;
  --clr: #58BC82;
  --clr-alpha: #9c9c9c60;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.form .input-span {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

form input[type="text"],
form input[type="password"], 
form input[type="int"]{
  border-radius: 0.5rem;
  padding: 1rem 0.75rem;
  width: 100%;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--clr-alpha);
  outline: 2px solid var(--bg-dark);
}

form input[type="text"]:focus,
form input[type="password"]:focus,
form input[type="int"]:focus {
  outline: 2px solid var(--clr);
}

.label {
  align-self: flex-start;
  color: var(--clr);
  font-weight: 600;
}

form .submit {
  padding: 1rem 0.75rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 3rem;
  background-color: var(--bg-dark);
  color: var(--bg-light);
  border: none;
  cursor: pointer;
  transition: all 300ms;
  font-weight: 600;
  font-size: .9rem;
}

form .submit:hover {
  background-color: var(--clr);
  color: var(--bg-dark);
}

.span {
  text-decoration: none;
  color: var(--bg-dark);
}

.span a {
  color: var(--clr);
}



.formm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  
  justify-content: center;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  background-color: rgb(0 0 0);
}

.titlee {
  font-size: 28px;
  color: royalblue;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.titlee::before,.titlee::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: royalblue;
}

.titlee::before {
  width: 18px;
  height: 18px;
  background-color: royalblue;
}

.titlee::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.messagee, .signinn {
  color: rgba(255, 255, 255, 0.822);
  font-size: 14px;
}

.signinn {
  text-align: center;
}

.signinn a {
  color: royalblue;
}

.signinn a:hover {
  text-decoration: underline royalblue;
}

.flexx {
  display: flex;
  gap: 6px;
}

.formm label {
  position: relative;
}

.formm label .inputt {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(0, 0, 0, 0.397);
  border-radius: 10px;
}

.formm label .inputt + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: rgb(255, 255, 255);
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.formm label .inputt:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.formm label .inputt:focus + span,.formm label .inputt:valid + span {
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.formm label .inputt:valid + span {
  color: green;
}

.submitt {
  border: none;
  outline: none;
  background-color: royalblue;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
}

.submitt:hover {
  background-color: rgb(56, 90, 194);
  cursor: pointer;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}


.button {
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #24df97;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #2c9caf;
}

.button:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #126d61;
  box-shadow: 4px 5px 17px -4px #05584d;
}

.button::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #0e2b20;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.button:hover::before {
  width: 250%;
}

.divs-center{
  display: flex;
  justify-content: center;
  margin-top: 5%;
  gap: 50px;
  flex-direction: column;
}


.titleew {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  padding-left: 30px;
  color: #00bfff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.class-title{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.div-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.div-img img{
  width: 10%;
}
.tod0{
  margin-top: 2rem;
}
.a-index{
  text-decoration: none;
  color: #24df97;
}
.a-index:hover{
  color: white;
}








form {
  --bg-light: #efefef;
  --bg-dark: #707070;
  --clr: #58BC82;
  --clr-alpha: #9c9c9c60;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.form .input-span {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

form input[type="email"],
form input[type="password"] {
  border-radius: 0.5rem;
  padding: 1rem 0.75rem;
  width: 100%;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--clr-alpha);
  outline: 2px solid var(--bg-dark);
}

form input[type="email"]:focus,
form input[type="password"]:focus {
  outline: 2px solid var(--clr);
}

.label {
  align-self: flex-start;
  color: var(--clr);
  font-weight: 600;
}

form .submit {
  padding: 1rem 0.75rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 3rem;
  background-color: var(--bg-dark);
  color: var(--bg-light);
  border: none;
  cursor: pointer;
  transition: all 300ms;
  font-weight: 600;
  font-size: .9rem;
}

form .submit:hover {
  background-color: var(--clr);
  color: var(--bg-dark);
}

.span {
  text-decoration: none;
  color: var(--bg-dark);
}

.span a {
  color: var(--clr);
}